@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");

html {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    box-sizing: border-box;
}

body {
    position: relative;
}

.container {
    max-width: 1000px;
    margin: 30px;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex {
    display: flex;
    align-items: center;
}

.gap {
    gap: 60px;
}

.jc-sa {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

.title {
    font-weight: 700;
    font-size: 60px;
    color: #000;
}

.title span {
    font-weight: 100;
    color: #707070;
}

.btn {
    background: #e74c3c;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.2;
    color: white;
    text-align: center;
    margin-right: .5em;
}

p {
    font-size: 30px;
    font-weight: 300;
    color: #707070;
}

.card {
    max-width: 250px;
    min-height: 350px;
    border: 1px solid #e74c3c;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgb(0 0 0 / 20%);
}

.inside-space {
    margin: 20px 0px 10px 30px;
    padding-bottom: 10px;
    font-size: 1rem;
}

.card-title {
    color: #e74c3c;
}

.title-border {
    border-bottom: 2px groove rgb(218, 218, 218);
}

.card-body {
    margin-right: 15px;
    font-weight: 400;
    color: red;
    text-decoration: line-through #ff0000 solid 3px;
}

input[type='checkbox'] {
    width: 25px;
    height: 20px;
}

.blur {
    filter: blur(5px);
}

.card1 {
    position: absolute;
    background: #fff;
    min-width: 400px;
    height: auto;
    border: 1px solid #e74c3c;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgb(0 0 0 / 20%);
    top: 30%;
    right: 50%;
    transform: translate(50%, 20%);
    text-align: center;
}

input[type='text'] {
    display: block;
    border: #e74c3c solid 1px;
    border-radius: 5px;
    box-shadow: 4px 4px 7px 0px rgb(0 0 0 / 20%);
    height: 35px;
    width: 70%;
    margin: auto;
}

.add {
    margin: 30px 0;
    display: inline-block;
    padding: 5px 25px;
    border-radius: 20px;
    width: auto;
    height: auto;
    font-size: 20px;
}


h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    margin-top: 90px;
    margin-left: 150px;

}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin-left: 800px;
    margin-top: -90px;
}

.box1{
    display: inline-block;
    border: 1px solid red;
    box-shadow: 4px 4px 2px rgba(0, 0,0, 0.603);
    border-radius: 10px;
    width: 230px;
    text-align: center;
    height: 350px;
    /* position: initial; */
    margin-left: 200px;
    top: 205px;
    left: 560px;
}

.text{
    font-family: 'Open Sans Condensed', sans-serif;
    color: red;
    font-size: 35px;
   
}

.p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: red;
}

label{
    font-size: 20px;
}

.box2{
    display: inline-block;
    border: 1px solid red;
    box-shadow: 4px 4px 2px rgba(0, 0,0, 0.603);
    border-radius: 10px;
    width: 230px;
    text-align: center;
    height: 350px;
     position: absolute;
    margin-left: 170px;
    top: 181px;
    left: 325px;
}

.text1{
    font-family: 'Open Sans Condensed', sans-serif;
    color: red;
    font-size: 35px;
   
}

.p1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: red;
}

.box3{
    display: inline-block;
    border: 1px solid red;
    box-shadow: 4px 4px 2px rgba(0, 0,0, 0.603);
    border-radius: 10px;
    width: 230px;
    text-align: center;
    height: 350px;
     position: absolute;
    margin-left: 486px;
    top: 181px;
    left: 325px;
}

.text2{
    font-family: 'Open Sans Condensed', sans-serif;
    color: red;
    font-size: 35px;
   
}

.p2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: red;
    /* background-color: wheat; */
}

/* #plus{
    border-radius: 20px solid brown;
    margin-left: 770px;
} */

#paris{
   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    margin-top: 104px;
    margin-left: 478px;

}

.box4{
    border:1px solid red;
    width: 300px;
    height: 180px;
    margin-left: 510px;
    margin-top: -350px;
    box-shadow: 4px 4px 2px rgba(0, 0,0, 0.603);
}

#p4{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px; 
    margin-left: 34%;
}

input{
    margin-left: 60px;
}

h5{
    margin-left: 130px;
}

.box5{
    border:1px solid red;
    width: 300px;
    height: 180px;
    margin-left: 414px;
    margin-top: -250px;
    box-shadow: 4px 4px 2px rgba(0, 0,0, 0.603);
}

#p5{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px; 
    margin-left: 34%;
}

input{
    margin-left: 60px;
}

h5{
    margin-left: 130px;
}


a{
    text-decoration: none;
    background-color: green;
    /* padding: 10px 20px; */
    color: white;
    margin-left: 570px;
     /* margin-top: 200px; */
    /* margin-bottom: 300px; */
     
}

.blur{
    filter: blur(5px);
}

.blur2{
    filter: blur(5px);
}

.box7{
    display: inline-block;
    border: 1px solid red;
    box-shadow: 4px 4px 2px rgba(0, 0,0, 0.603);
    border-radius: 10px;
    width: 230px;
    text-align: center;
    height: 350px;
    /* position: initial; */
    margin-left: 480px;
    top: 205px;
    left: 560px;
}

